[Unit]
Description=Pull chainers.art from GitHub
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/chainers-art-update
Nice=10
